<form method="post" action="{{ path('app_boat_delete', {'id': boat.id}) }}" class="mt-4" onsubmit="return confirm('Voulez-vous supprimer cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boat.id) }}">
    <button class="btn">Delete</button>
</form>
