{% extends 'base.html.twig' %}

{% block title %}Edit Boat{% endblock %}

{% block body %}
    <a href="{{ path('app_ads_list') }}">back to list</a>
    <h1 class="text-center text-2xl">Edit Boat</h1>

    {{ include('pages/boat/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('pages/boat/_delete_form.html.twig') }}
{% endblock %}
