{% extends "base.html.twig" %}

{% block title %}Annulation d'achat{% endblock %}


{% block body %}
<section>
    <h1>Achat annulé</h1>
    <p>Besoin de quelque chose ?</p>
</section>
{% endblock %}