{% extends "base.html.twig" %}

{% block title %}Récapitulatif{% endblock %}

{% block body %}
<section>
    <h1>Récapitulatif de la commande</h1>
    <p>Montant à payer : {{ id }}€</p>
    <form action="/checkout/{{id}}" method="POST">
        <button type="submit" id="checkout-button">Payer</button>
    </form>
</section>
{% endblock %}