{% extends "base.html.twig" %}

{% block title %}Validation d'achat{% endblock %}

{% block body %}
<section>
    <h1>Achat complété</h1>
    <p>Merci de votre confiance</p>
</section>
{% endblock %}