{% extends "base.html.twig" %}

{% block title %}Accueil d'app{% endblock %}

{% block body %}

<div class="flex flex-wrap">
{% for boat in boatsList %}
    <twig:BoatCard image="" title="{{ boat.title }}" price="{{ boat.price}}" boatType="{{ boat.boatType }}" />
{% endfor %}
</div>

{% endblock %}