<div class="border px-4 hover:bg-slate-200">
    <a href="">
        <img src="{{ image }}" alt="">
        <h4 class="first-letter:uppercase">{{ title }}</h4>
        <em>{{ price }} €</em>
        <p>{{ boatType }}</p>
    </a>
</div>
