{{ form_start(form, {attr: {class: 'js-filter-form bg-white flex flex-col flex-wrap items-start justify-center md:flex-row md:items-center md:justify-start gap-3'}}) }}

{# form_row a déclarer  #}

<button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded-xl">Filtrer</button>

{{ form_end(form) }}